:root {
  --branding-color: rgb(146, 134, 128);
  --secondary-color: #f1d4e5;
  --terciary-color: #080202;
  --background-color: #171614;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background: 
    
   
    rgb(146, 134, 128, 0.4);
    background-image: url("https://images.unsplash.com/photo-1616410731303-6affae095a0a?q=80&w=2002&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
   
  
  scroll-behavior: smooth;
  scrollbar-track-color: #f1d4e5;
}

h1 {
  color: rgb(175, 134, 151);
  font-size: 50px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

p {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}

h2 {
  font-size: medium;
  font-weight: normal;
  color: var(--terciary-color);
}


.hero {
  background: rgb(244, 241, 236, 0.9);
  text-align: center;
  padding: 50px 2px;

  max-width:80%;
  margin: auto;
  display: block;
  border-radius: 5px;
  mix-blend-mode: multiply, difference, lighten;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
}

.avatar {
  width: 400px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
}

.avatar:hover {
  filter: none;
  cursor: auto;
}

.footer-text {
  font-family: var(--heading-font-family);
  text-align: center;
  font-size: 50px;
}

.hero p {
  font-weight: bold;
  font-size: medium;
  color: var(--terciary-color);
}

.content h1 {
  font-size: 28px;
  line-height: 40px;
}

.heading-content {
  padding: 120px 60px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-container {
  padding: 80px 20px;
  background-color: rgb(244, 241, 236, 0.6);
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 0px;
  background-blend-mode: multiply, diference, lighten;
  margin-bottom: 10px;
  max-width: 80%;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
}

.skills-container {
  width: 250px;
  text-align: center;
  margin: auto;
  display: block;
}

.skills-text {
  font-family: var(--heading-font-family);
  font-size: large;
}

.content {
  margin: 30px;
}

.skills-icon {
  font-size: 50px;
 box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.contact-button {
  padding-top: 40px;
}

.scroll {
  overflow: scroll;

  height: 800px;
  box-shadow: 5px 5px 10px rgba(89, 91, 92, 0.6);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(170, 179, 180, 0.3);
  border-radius: 10px;
  scroll-behavior: smooth;
}

.photo {
  box-shadow: 5px 5px 10px rgba(89, 91, 92, 0.6);
  filter: grayscale();
}

.logo {
  max-height: 120px;
  padding-bottom: 50px;
  opacity: calc(0.5);
}

.cert-img {
 
  margin: 6px;
}

.content-certification {
 margin:0 auto;
 display: block;
}



nav {
 
  padding-top: 60px;
  
  font-size: 25px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: rgb(172, 116, 139);
  font-weight: bold;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.photo:hover {
  filter: none;
  cursor: pointer;
  transition: all ease-in-out 400ms;
}

.atenas-img {
  filter: grayscale();
  width: 70%;
  box-shadow: 5px 5px 10px rgba(129, 129, 129, 0.6);
  position: relative;
  top: 45px;
  border-radius: 8px;
}

.atenas-img:hover {
  filter: grayscale();
  transition: all ease-in-out 400ms;
}

.logo-2 {
  width: 85px;
  padding-bottom: 30px;
}

.box-scroll {
  height: 200px;
  border-radius: 6px;
  background: rgba(165, 164, 164, 0.2);
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: #ffffff;

  font-weight: normal;
  font-size: 12px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all ease-in-out 400ms;
}

.back-homepage {
  text-align: center;
}

.project-name-1 {
  font-size: 35px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);

  font-weight: normal;
  font-size: 12px;
  line-height: 27px;
  padding: 15px 30px;
}

.footer-icons {
  font-size: 45px;
  padding-top: 50px;
  margin: auto;
  display: block;
}

.footer {
  text-align: center;
  padding-top: 0;
}

.footer-end {
  padding-bottom: 50px;
  text-align: center;
}

.project-description {
  padding: 120px 60px;
}

.project-button {
  margin-bottom: 10px;
  transition: all ease-in-out 400ms;
}
.certifications-button {
  margin-bottom: 10px;
  transition: all ease-in-out 400ms;
}
a {
  color: var(--branding-color);
  font-weight: 700;
}

img {
  border-radius: 12px;
    filter:grayscale();
}

img:hover {
  filter: none;
  cursor:pointer;
  transition: all ease-in-out 400ms;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  h1 {
    font-size: 40px;
    line-height: 56px;
  }

  .project-name-1 {
    font-size: 25px;
  }

  .hero {
    padding: 40px 20px;
    max-width: 100%;
   
  }

  .content-container {
    text-align: center;
    padding: 0;
    margin-bottom: auto;
    max-width: 100%;
  
  }

  .heading-content {
    margin-top: -100px;
  }

  .contact-container {
    margin-bottom: 20px;
  }

  .content {
    text-align: center;
    padding: 0px;
  }

  .atenas-img:hover {
    filter: none;
  }

  .atenas-img {
    width: 250px;
    position: relative;
    top: -30px;
    border-radius: 50%;
  }

  .skills-icon {
    font-size: 20px;
  }

  nav a {
    font-size: 10px;
    text-decoration: none;
    color: #39383d;
    font-weight: bold;
    transition: all 100ms ease-in-out;
  }
  
  

  nav a:hover {
    color: var(--branding-color);
  }

  .logo {
    max-width: 65px;
  }

  .avatar {
    width: 150px;
  }

  .footer-text {
    font-size: 25px;
  }

  .footer-end {
    font-size: 12px;
    padding-top: 0;
  }
}
