:root {
  --branding-color: #73bbc9;
  --secondary-color: #f1d4e5;
  --terciary-color: #080202;
  --background-color: rgb(232, 210, 248, 0.6);
  --heading-font-family: "VT323", monospace;
  --default-font-family: "DotGothic16", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background: linear-gradient(
    to top,
    #fce9f1 5%,
    rgb(232, 210, 248, 0.5) 200%,
    rgb(241, 212, 229) 50%
  );
  scroll-behavior: smooth;
  scrollbar-track-color: #f1d4e5;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 76px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

p {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}

h2 {
  font-size: medium;
  font-weight: normal;
  color: var(--terciary-color);
}

.hero {
  background: rgb(232, 210, 248, 0.5);
  text-align: center;
  padding: 50px 2px;
  max-width: 65%;
  margin: auto;
  display: block;
  border-radius: 19px;
  mix-blend-mode: multiply, difference, lighten;
}

.avatar {
  width: 400px;
  box-shadow: 10px 10px 20px rgba(167, 127, 217, 1.2);
}

.avatar:hover {
  filter: none;
  cursor: auto;
}

.footer-text {
  font-family: var(--heading-font-family);
  text-align: center;
  font-size: 50px;
}

.hero p {
  font-weight: bold;
  font-size: medium;
  color: var(--terciary-color);
}

.content h1 {
  font-size: 28px;
  line-height: 40px;
}

.heading-content {
  padding: 120px 60px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-container {
  padding: 80px 20px;
  background-color: rgb(232, 210, 248, 0.5);
  text-align: center;
  border-radius: 20px;
  background-blend-mode: multiply, diference, lighten;
  margin-bottom: 10px;
  max-width: 65%;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
}

.skills-container {
  width: 250px;
  text-align: center;
  margin: auto;
  display: block;
}

.skills-text {
  font-family: var(--heading-font-family);
  font-size: large;
}

.content {
  margin: 30px;
}

.skills-icon {
  font-size: 50px;
  box-shadow: 10px 10px 20px rgba(167, 127, 217, 1.2);
  border-radius: 12px;
}

.contact-button {
  padding-top: 40px;
}

.scroll {
  overflow: scroll;

  height: 500px;
  box-shadow: 12px 12px 20px rgba(115, 187, 201, 0.6);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(115, 187, 201, 0.3);
  border-radius: 10px;
  scroll-behavior: smooth;
}

.photo {
  box-shadow: 10px 10px 20px rgba(167, 127, 217, 1.2);
}

.logo {
  max-height: 100px;
}

nav {
  padding: 20px, 12px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #272142;
  font-weight: bold;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.photo:hover {
  filter: grayscale();
  cursor: pointer;
}

.atenas-img {
  width: 350px;
  box-shadow: 10px 10px 20px rgba(167, 127, 217, 1.2);
}

.atenas-img:hover {
  filter: grayscale();
}

.logo-2 {
  width: 200px;
  padding-bottom: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: #ffffff;

  font-weight: normal;
  font-size: 12px;
  line-height: 27px;
  padding: 15px 30px;
}

.back-homepage {
  text-align: center;
}

.project-name-1 {
  font-size: 35px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);

  font-weight: normal;
  font-size: 12px;
  line-height: 27px;
  padding: 15px 30px;
}

.footer-icons {
  font-size: 45px;
  padding-top: 50px;
  margin: auto;
  display: block;
}

.footer {
  text-align: center;
  padding-top: 0;
}

.footer-end {
  padding-bottom: 50px;
  text-align: center;
}

.project-description {
  padding: 120px 60px;
}

a {
  color: var(--branding-color);
  font-weight: 700;
}

img {
  border-radius: 12px;
}

img:hover {
  filter: grayscale();
  cursor: auto;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  h1 {
    font-size: 50px;
    line-height: 56px;
  }

  .project-name-1 {
    font-size: 25px;
  }

  .hero {
    padding: 40px 20px;
    max-width: 100%;
  }

  .content-container {
    text-align: center;
    padding: 0;
    margin-bottom: auto;
    max-width: 100%;
  }

  .contact-container {
    margin-bottom: 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .atenas-img:hover {
    filter: none;
  }

  .atenas-img {
    width: 250px;
  }

  .skills-icon {
    font-size: 20px;
  }

  nav a {
    font-size: 10px;
    text-decoration: none;
    color: #272142;
    font-weight: bold;
    transition: all 100ms ease-in-out;
  }

  nav a:hover {
    color: var(--branding-color);
  }

  .logo {
    max-height: 40px;
  }

  .avatar {
    width: 150px;
  }

  .footer-text {
    font-size: 25px;
  }

  .footer-end {
    font-size: 12px;
    padding-top: 0;
  }
}
